<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe1</title>
</head>
<body>
    <h1>Recipe Book</h1>
    <ul>
        <li>{{ name }}
            <ul>
                {% for ingredient in ingredients %}
                <li>
                    {{ ingredient.name }}: {{ ingredient.quantity }}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</body>
</html>